/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Light Cyan */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.form-section{
    width:800px;
    height:800px;
    
}
/* Container to hold image and form */
.container {
    /*display: flex;*/
    width: 100%; /* Increase container width */
    max-width: 1200px;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* White */
    border-radius: 10px;
    display:flex;
}

/* Image Section */
.image-section {
    width: 90%; /* Increase width of image section */
    background-color: #1E90FF; /* Blue */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image-section img {
    max-width: 80%;
    max-height: 100%;
    border-radius: 10px;
}

/* Form Section */
.form-section {
    width: 60%; /* Adjust width as necessary */
    padding: 20px;
    background-color: #F5F5F5; /* Light Grey */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll; /* Enable vertical scrolling */
    height:600px; 
    /* Fill the container height */
}


/* Header styles */
/*For Enquiry Form Heading*/
header {
    text-align: center;
    margin-bottom: 20px;
}
/*For enquiry Form Haeding*/
header h1 {
    color: #1E90FF; /* Blue */
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0; /* Added margin to place the heading on top */
}

/* Form styles */
form {
    display:flex;
    flex-direction: column;
    width: 40%;
    height:90%;
    overflow-y: scroll;
    overflow-x: hidden;

}

label {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width:calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
   
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #ffffff; /* White */
    color: #333;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #1E90FF; /* Blue */
    outline: none;
}
select{
    width:100%
}

textarea {
    height: 80px;
    resize: vertical;
}

input[type="radio"] {
    margin-right: 8px;
}

button[type="submit"] {
    width: 100%;
    background-color: #1E90FF; /* Blue */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    align-self: center; /* Center button */
    margin-top: 20px; /* Space above the button */
}

button[type="submit"]:hover {
    background-color: #4682B4; /* Darker Blue */
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.radio-group label {
    font-weight:normal;
    font-size:medium;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.radio-group div {
    display: flex;
    align-items: center;
}

.radio-group div:hover input[type="radio"] + label {
    color: #1E90FF; /* Blue */
    margin-right: 5px;
}
